In [1]:
import pandas as pd

In [2]:
housing_df = pd.read_csv("./Resources/State_time_series.csv")
housing_df

,Date,RegionName,DaysOnZillow_AllHomes,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45600.0,99500.0,79500.0,79000.0,140200.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67100.0,78900.0,103600.0,107500.0,168700.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,Arkansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38400.0,70300.0,64400.0,64500.0,115200.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95100.0,136100.0,157900.0,162000.0,270600.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,Colorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82700.0,99400.0,128100.0,133600.0,209300.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13207,2017-12-31,Virginia,NaN,39599.0,36664.0,242.105263,146.157362,143.816452,147.329650,153.763978,...,133500.0,291300.0,246200.0,237300.0,492700.0,1538.0,1500.0,0.948,1738.0,1441.0
13208,2017-12-31,Washington,NaN,17918.0,15109.0,304.291151,220.017256,195.881979,188.990826,201.271186,...,208200.0,337600.0,351300.0,352800.0,662700.0,1842.0,1803.0,1.132,1690.0,1828.0
13209,2017-12-31,WestVirginia,NaN,9800.0,9422.0,119.723429,77.764277,89.272003,93.071172,88.122881,...,63800.0,115100.0,103500.0,103300.0,174300.0,858.0,858.0,0.674,846.0,858.0
13210,2017-12-31,Wisconsin,NaN,27273.0,23370.0,145.664583,129.727412,127.136334,116.753927,95.573529,...,107200.0,158700.0,169300.0,170200.0,280600.0,1179.0,1153.0,0.920,1068.0,1163.0
13211,2017-12-31,Wyoming,NaN,4337.0,3992.0,172.943376,148.544590,137.093704,147.855347,153.846154,...,140400.0,195600.0,200200.0,200500.0,315900.0,1144.0,1115.0,0.902,1023.0,1120.0

In [3]:
clean_housing_df = housing_df[['Date','RegionName', 'MedianListingPricePerSqft_AllHomes', 'MedianRentalPricePerSqft_AllHomes', 
                               'PctOfHomesDecreasingInValues_AllHomes', 'PctOfHomesIncreasingInValues_AllHomes']]
clean_housing_df

,Date,RegionName,MedianListingPricePerSqft_AllHomes,MedianRentalPricePerSqft_AllHomes,PctOfHomesDecreasingInValues_AllHomes,PctOfHomesIncreasingInValues_AllHomes
0,1996-04-30,Alabama,NaN,NaN,NaN,NaN
1,1996-04-30,Arizona,NaN,NaN,NaN,NaN
2,1996-04-30,Arkansas,NaN,NaN,NaN,NaN
3,1996-04-30,California,NaN,NaN,NaN,NaN
4,1996-04-30,Colorado,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
13207,2017-12-31,Virginia,147.928994,1.068376,30.63,54.74
13208,2017-12-31,Washington,201.418209,1.268182,6.90,90.38
13209,2017-12-31,WestVirginia,89.392679,0.746074,46.82,44.07
13210,2017-12-31,Wisconsin,128.536977,0.983717,19.83,72.21
13211,2017-12-31,Wyoming,154.707232,0.900662,NaN,NaN

In [4]:
clean_housing_df = clean_housing_df.dropna()
clean_housing_df

,Date,RegionName,MedianListingPricePerSqft_AllHomes,MedianRentalPricePerSqft_AllHomes,PctOfHomesDecreasingInValues_AllHomes,PctOfHomesIncreasingInValues_AllHomes
8231,2010-01-31,Georgia,94.303797,0.715309,67.15,25.88
8269,2010-01-31,Washington,169.014085,0.961538,78.82,14.58
8276,2010-02-28,Arkansas,88.310580,0.606187,40.91,48.71
8279,2010-02-28,Connecticut,177.928803,1.163587,68.52,18.61
8280,2010-02-28,Delaware,134.657277,0.780488,61.21,28.56
...,...,...,...,...,...,...
13206,2017-12-31,Vermont,148.777455,1.457726,28.88,62.51
13207,2017-12-31,Virginia,147.928994,1.068376,30.63,54.74
13208,2017-12-31,Washington,201.418209,1.268182,6.90,90.38
13209,2017-12-31,WestVirginia,89.392679,0.746074,46.82,44.07
13210,2017-12-31,Wisconsin,128.536977,0.983717,19.83,72.21

In [5]:
clean_housing_df = clean_housing_df.rename(columns={"RegionName": "State"})

In [6]:
clean_housing_df = clean_housing_df.groupby(['Date', 'State'])

In [7]:
clean_housing_df = clean_housing_df.agg({
    'MedianListingPricePerSqft_AllHomes': 'mean',
    'MedianRentalPricePerSqft_AllHomes': 'mean',
    'PctOfHomesDecreasingInValues_AllHomes': 'mean',
    'PctOfHomesIncreasingInValues_AllHomes': 'mean'
}).reset_index()

In [8]:
clean_housing_df.to_csv("./db_files/housing.csv", index = False)

In [9]:
income_df = pd.read_csv("./Resources/USA_All_States.csv")

In [10]:
clean_income_df = income_df[['AreaName','B19001_001']]
clean_income_df = clean_income_df.dropna()
clean_income_df = clean_income_df.rename(columns={"AreaName": "State", "B19001_001": "household_income_2015"})
clean_income_df

                   State  household_income_2015
0                Alabama                1848325
1                 Alaska                 250969
2                Arizona                2412212
3               Arkansas                1138025
4             California               12717801
5               Colorado                2024468
6            Connecticut                1352583
7   District of Columbia                 273390
8               Delaware                 344022
9                Florida                7300494
10               Georgia                3574362
11                Hawaii                 450572
12                 Idaho                 589320
13              Illinois                4786388
14               Indiana                2501937
15                  Iowa                1236409
16                Kansas                1113472
17              Kentucky                1708499
18             Louisiana                1727919
19                 Maine                 553284
20              Maryland                2166389
21         Massachusetts                2549721
22              Michigan                3841148
23             Minnesota                2124745
24           Mississippi                1096593
25              Missouri                2364688
26               Montana                 409394
27              Nebraska                 736613
28                Nevada                1016709
29         New Hampshire                 520251
30            New Jersey                3189486
31            New Mexico                 763603
32              New York                7262279
33        North Carolina                3775581
34          North Dakota                 299638
35                  Ohio                4585084
36              Oklahoma                1455321
37                Oregon                1533430
38          Pennsylvania                4958859
39           Puerto Rico                1244202
40          Rhode Island                 410602
41        South Carolina                1815094
42          South Dakota                 330858
43             Tennessee                2504556
44                 Texas                9149196
45                  Utah                 906292
46               Vermont                 257167
47              Virginia                3062783
48            Washington                2668912
49         West Virginia                 740890
50             Wisconsin                2299107
51               Wyoming                 226865

In [11]:
clean_income_df.to_csv("./db_files/income.csv", index = False)

In [12]:
unemployment_df = pd.read_csv("./Resources/GeoFRED_Unemployment_Rate_by_County_Percent.csv")
unemployment_df

,Series ID,Region Name,Region Code,2000,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,SCABBE1URN,"Abbeville County, SC",45001,3.8,6.6,7.7,9.1,8.2,7.7,8.8,...,14.2,13.6,12.5,10.6,9.5,7.7,6.9,5.5,4.6,4.2
1,LAACAD0URN,"Acadia Parish, LA",22001,5.8,6.0,6.3,6.8,5.8,6.1,3.6,...,6.5,7.3,6.7,6.0,6.0,5.8,6.9,7.4,5.9,5.4
2,VAACCO1URN,"Accomack County, VA",51001,3.0,3.4,4.2,4.4,4.7,4.7,4.3,...,6.5,7.9,8.4,7.9,7.2,6.7,5.5,5.0,4.9,4.1
3,IDADAC1URN,"Ada County, ID",16001,3.4,3.9,4.7,4.9,4.1,3.3,2.7,...,8.9,8.3,7.3,6.2,5.2,4.2,3.7,3.3,2.8,2.4
4,OKADAI1URN,"Adair County, OK",40001,3.5,4.1,4.8,7.8,6.2,4.8,4.4,...,8.0,10.5,9.2,9.1,9.8,8.0,6.1,5.9,5.0,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,COYUMA5URN,"Yuma County, CO",8125,2.6,2.3,2.4,3.0,3.2,3.1,2.6,...,3.3,5.6,5.3,5.1,4.8,3.4,2.6,2.1,1.6,2.0
3132,AZYUMA0URN,"Yuma County, AZ",4027,16.3,16.8,16.8,16.8,15.8,15.8,14.9,...,22.9,25.0,24.1,23.8,25.4,22.8,21.6,18.7,17.0,16.9
3133,TXZAPA5URN,"Zapata County, TX",48505,8.0,7.2,8.7,8.8,7.2,6.6,6.1,...,10.9,10.4,8.1,6.3,6.2,5.2,7.7,10.8,7.3,5.4
3134,TXZAVA7URN,"Zavala County, TX",48507,12.3,13.2,14.4,13.8,12.4,11.6,11.7,...,14.5,13.9,14.1,13.5,14.5,12.1,11.2,13.9,11.1,9.7
3135,SDZIEB7URN,"Ziebach County, SD",46137,7.5,7.9,6.2,6.5,7.1,8.0,5.9,...,7.0,5.8,6.4,6.9,6.2,5.8,5.0,4.5,5.2,5.0

In [13]:
unemployment_df[['Region Name','State']] = unemployment_df['Region Name'].str.split(',',expand=True)
unemployment_df

,Series ID,Region Name,Region Code,2000,2001,2002,2003,2004,2005,2006,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,State
0,SCABBE1URN,Abbeville County,45001,3.8,6.6,7.7,9.1,8.2,7.7,8.8,...,13.6,12.5,10.6,9.5,7.7,6.9,5.5,4.6,4.2,SC
1,LAACAD0URN,Acadia Parish,22001,5.8,6.0,6.3,6.8,5.8,6.1,3.6,...,7.3,6.7,6.0,6.0,5.8,6.9,7.4,5.9,5.4,LA
2,VAACCO1URN,Accomack County,51001,3.0,3.4,4.2,4.4,4.7,4.7,4.3,...,7.9,8.4,7.9,7.2,6.7,5.5,5.0,4.9,4.1,VA
3,IDADAC1URN,Ada County,16001,3.4,3.9,4.7,4.9,4.1,3.3,2.7,...,8.3,7.3,6.2,5.2,4.2,3.7,3.3,2.8,2.4,ID
4,OKADAI1URN,Adair County,40001,3.5,4.1,4.8,7.8,6.2,4.8,4.4,...,10.5,9.2,9.1,9.8,8.0,6.1,5.9,5.0,4.4,OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,COYUMA5URN,Yuma County,8125,2.6,2.3,2.4,3.0,3.2,3.1,2.6,...,5.6,5.3,5.1,4.8,3.4,2.6,2.1,1.6,2.0,CO
3132,AZYUMA0URN,Yuma County,4027,16.3,16.8,16.8,16.8,15.8,15.8,14.9,...,25.0,24.1,23.8,25.4,22.8,21.6,18.7,17.0,16.9,AZ
3133,TXZAPA5URN,Zapata County,48505,8.0,7.2,8.7,8.8,7.2,6.6,6.1,...,10.4,8.1,6.3,6.2,5.2,7.7,10.8,7.3,5.4,TX
3134,TXZAVA7URN,Zavala County,48507,12.3,13.2,14.4,13.8,12.4,11.6,11.7,...,13.9,14.1,13.5,14.5,12.1,11.2,13.9,11.1,9.7,TX
3135,SDZIEB7URN,Ziebach County,46137,7.5,7.9,6.2,6.5,7.1,8.0,5.9,...,5.8,6.4,6.9,6.2,5.8,5.0,4.5,5.2,5.0,SD

In [14]:
unemployment_df1 = unemployment_df.drop(labels=['Region Name', 'Region Code', 'Region Code', 'Series ID'], axis=1)
unemployment_df1

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,State
0,3.8,6.6,7.7,9.1,8.2,7.7,8.8,8.1,8.1,14.2,13.6,12.5,10.6,9.5,7.7,6.9,5.5,4.6,4.2,SC
1,5.8,6.0,6.3,6.8,5.8,6.1,3.6,3.8,4.2,6.5,7.3,6.7,6.0,6.0,5.8,6.9,7.4,5.9,5.4,LA
2,3.0,3.4,4.2,4.4,4.7,4.7,4.3,4.1,5.0,6.5,7.9,8.4,7.9,7.2,6.7,5.5,5.0,4.9,4.1,VA
3,3.4,3.9,4.7,4.9,4.1,3.3,2.7,2.7,4.9,8.9,8.3,7.3,6.2,5.2,4.2,3.7,3.3,2.8,2.4,ID
4,3.5,4.1,4.8,7.8,6.2,4.8,4.4,4.7,4.9,8.0,10.5,9.2,9.1,9.8,8.0,6.1,5.9,5.0,4.4,OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,2.6,2.3,2.4,3.0,3.2,3.1,2.6,2.1,2.7,3.3,5.6,5.3,5.1,4.8,3.4,2.6,2.1,1.6,2.0,CO
3132,16.3,16.8,16.8,16.8,15.8,15.8,14.9,14.0,18.2,22.9,25.0,24.1,23.8,25.4,22.8,21.6,18.7,17.0,16.9,AZ
3133,8.0,7.2,8.7,8.8,7.2,6.6,6.1,5.3,5.5,10.9,10.4,8.1,6.3,6.2,5.2,7.7,10.8,7.3,5.4,TX
3134,12.3,13.2,14.4,13.8,12.4,11.6,11.7,10.5,10.6,14.5,13.9,14.1,13.5,14.5,12.1,11.2,13.9,11.1,9.7,TX
3135,7.5,7.9,6.2,6.5,7.1,8.0,5.9,5.9,5.9,7.0,5.8,6.4,6.9,6.2,5.8,5.0,4.5,5.2,5.0,SD