Extract Source: Minimum Wage Data 
https://www.kaggle.com/lislejoem/us-minimum-wage-by-state-from-1968-to-2017

In [1]:
import pandas as pd

In [2]:
# Path
min_wage_df = "Minimum Wage Data.csv"

In [4]:
# Read csv and store into Pandas DF
min_wage_df = pd.read_csv(min_wage_df, encoding="ISO-8859-1", index_col=[0])
min_wage_df

              State  State Min. Wage
Year
1968        Alabama             8.55
1968         Alaska            15.61
1968        Arizona             8.55
1968       Arkansas             8.55
1968     California            12.26
...             ...              ...
2020       Virginia             7.25
2020     Washington            13.50
2020  West Virginia             8.75
2020      Wisconsin             7.25
2020        Wyoming             7.25

[2862 rows x 2 columns]