Extract Source: Home Sales Price Data
https://www.kaggle.com/paultimothymooney/zillow-house-price-data

In [3]:
import pandas as pd

In [4]:
# Path
sales_df = "Sale_Prices_State.csv"

In [6]:
# Read Sales csv and store into Pandas DF
sales_df = pd.read_csv(sales_df, encoding="ISO-8859-1", index_col=[0])
sales_df

,RegionID,RegionName,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,...,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,Median Sales Price
0,9,California,392500.0,373800.0,351800.0,334700.0,320100.0,306600.0,293300.0,279600.0,...,491900,491600,493800,498400,505600,513500,518700,524400,NaN,370850
1,54,Texas,139900.0,139300.0,137600.0,137400.0,137700.0,139500.0,139600.0,139200.0,...,226700,228100,229400,232700,234700,236800,237200,239900,NaN,167200
2,43,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,298100,301700,295100,296000,297100,305400,308800,324800,342500.0,253400
3,14,Florida,203400.0,195500.0,189300.0,184800.0,181700.0,178100.0,172700.0,167100.0,...,226100,227000,228900,230800,234400,238100,243300,247600,NaN,156900
4,21,Illinois,204400.0,198400.0,185000.0,177500.0,174300.0,176300.0,176900.0,177400.0,...,192000,189500,188100,190000,191300,194600,195100,200200,210300.0,159600
5,47,Pennsylvania,146400.0,144800.0,142500.0,138800.0,138800.0,140300.0,141300.0,139900.0,...,168700,168500,168800,169600,172100,173300,176500,180800,NaN,142200
6,44,Ohio,110700.0,108700.0,107800.0,107400.0,107600.0,107200.0,105500.0,102500.0,...,141300,140600,140600,140900,142300,145200,146900,152000,NaN,110650
7,30,Michigan,97800.0,94800.0,90200.0,85800.0,85400.0,85100.0,84500.0,81500.0,...,151600,152700,153700,154300,155200,157700,160400,170100,NaN,97850
8,16,Georgia,143200.0,139100.0,135300.0,133300.0,132300.0,134000.0,132900.0,132200.0,...,197600,197800,199800,199600,202700,204900,208100,212500,NaN,134450
9,36,North Carolina,154400.0,151500.0,147500.0,145900.0,146300.0,145600.0,144700.0,145400.0,...,201100,202100,205200,206200,209900,212700,216100,221900,NaN,150050
10,40,New Jersey,328900.0,330000.0,321900.0,308500.0,302800.0,300200.0,298200.0,294800.0,...,287900,288600,290700,293900,303300,311600,316000,312100,NaN,270450
11,56,Virginia,248900.0,244700.0,237800.0,232000.0,230700.0,231200.0,230800.0,228600.0,...,268200,268900,272600,274700,275600,276200,275500,279900,NaN,240850
12,59,Washington,284500.0,278000.0,269100.0,261100.0,257100.0,256900.0,254800.0,253900.0,...,367800,369600,371700,374700,377400,384600,396100,408400,NaN,255650
13,26,Massachusetts,314500.0,308200.0,296700.0,291300.0,287400.0,286300.0,283200.0,282000.0,...,384200,383700,384100,386500,386500,390700,392800,404500,NaN,315700
14,22,Indiana,107000.0,106000.0,104700.0,105700.0,106000.0,105900.0,103600.0,102500.0,...,154500,156000,156700,159200,160500,161300,160300,162300,NaN,116300
15,8,Arizona,220200.0,212200.0,204000.0,198600.0,193000.0,188000.0,181200.0,175000.0,...,244100,244800,247200,249500,252500,255100,259300,265800,NaN,162900
16,53,Tennessee,118500.0,118900.0,118300.0,117700.0,117100.0,116700.0,115400.0,113300.0,...,188700,190700,190800,193200,195600,199600,202600,207400,NaN,125150
17,32,Missouri,132700.0,130800.0,125300.0,122900.0,123500.0,123700.0,123900.0,122600.0,...,163500,163300,163400,165800,166700,168300,168800,177200,NaN,128850
18,27,Maryland,269100.0,266800.0,261500.0,255500.0,250200.0,249500.0,249500.0,250600.0,...,273900,271900,270600,272100,276000,279600,279500,283000,NaN,238600
19,60,Wisconsin,156100.0,152500.0,149800.0,146500.0,145700.0,144700.0,144800.0,144000.0,...,181100,180500,180300,182500,183000,187100,192400,197200,NaN,143550
20,31,Minnesota,189200.0,183500.0,179200.0,174200.0,173200.0,172100.0,174100.0,173100.0,...,236700,236800,238400,240600,243100,245800,249200,253800,NaN,174150
21,10,Colorado,201300.0,198800.0,197200.0,196500.0,198300.0,200000.0,199400.0,197100.0,...,366700,366900,370600,373200,376200,378500,381800,383500,388700.0,235400
22,4,Alabama,122400.0,122800.0,119400.0,118400.0,116300.0,116200.0,112500.0,109900.0,...,153500,154500,156500,160100,163900,167400,169300,168800,NaN,119250
23,51,South Carolina,134300.0,136000.0,134800.0,134000.0,133400.0,132800.0,131700.0,129300.0,...,186300,187500,188000,186800,187100,190400,193500,197000,NaN,134850
24,25,Louisiana,137100.0,134900.0,137300.0,136800.0,139900.0,141200.0,140400.0,139500.0,...,177300,177100,175700,175600,178000,179600,182400,182900,NaN,146200
25,24,Kentucky,116700.0,115200.0,114000.0,112300.0,111900.0,112300.0,111200.0,110000.0,...,158500,159300,160500,162100,163500,165200,166500,170100,NaN,118200
26,46,Oregon,253100.0,247200.0,242800.0,241100.0,240800.0,239000.0,234500.0,233700.0,...,337200,337300,337300,341300,346000,350900,355000,359600,NaN,239150
27,45,Oklahoma,97000.0,98700.0,98100.0,102200.0,102400.0,104400.0,101600.0,101600.0,...,146900,147000,147700,149400,151400,152600,151600,154900,NaN,121500
28,11,Connecticut,267300.0,265600.0,255800.0,243100.0,237100.0,237800.0,238400.0,237000.0,...,239000,237300,238400,240700,243400,251000,255000,258600,NaN,226900
29,19,Iowa,116200.0,117400.0,114200.0,111900.0,112000.0,111800.0,111200.0,111500.0,...,151300,153100,154400,155500,155600,156600,159300,160300,NaN,122100
30,34,Mississippi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,162800,163100,163000,163400,163900,168200,171200,175300,NaN,154250
31,6,Arkansas,116200.0,117300.0,115400.0,115500.0,114800.0,113700.0,111400.0,110200.0,...,146800,147300,149800,151100,154200,154300,154700,156800,NaN,124050
32,23,Kansas,148200.0,148100.0,149000.0,146100.0,144000.0,141300.0,142900.0,143500.0,...,191900,191500,188600,188600,191000,193100,196900,198700,NaN,153150
33,55,Utah,212300.0,209600.0,206500.0,204200.0,202000.0,201800.0,201700.0,203600.0,...,306600,309800,313100,316800,318500,322000,325600,330100,NaN,210200
34,42,Nevada,245600.0,242800.0,237800.0,229900.0,221700.0,210500.0,201600.0,193100.0,...,282500,282400,285400,288700,291500,294100,295900,299100,NaN,187950
35,41,New Mexico,186500.0,184400.0,180900.0,182000.0,183800.0,183900.0,180900.0,179100.0,...,210500,210500,207400,210000,210500,213600,215600,220300,NaN,177450
36,61,West Virginia,100900.0,102900.0,106800.0,107000.0,104500.0,104500.0,103700.0,100800.0,...,142300,142800,143700,143500,143500,142200,145300,145400,NaN,112100
37,38,Nebraska,124900.0,125800.0,124200.0,121900.0,120300.0,120000.0,120200.0,120200.0,...,178300,176400,177900,179200,182100,183800,183800,186000,188400.0,132300
38,20,Idaho,179600.0,177100.0,172900.0,171300.0,168300.0,166900.0,166200.0,168000.0,...,260200,261300,263600,265700,268500,271600,277800,285100,NaN,166550
39,18,Hawaii,408200.0,392800.0,385400.0,382500.0,402100.0,411700.0,402100.0,404200.0,...,575300,569400,571400,573900,577900,591100,593500,608900,NaN,429700
40,28,Maine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,225600,226600,229400,228900,230600,228100,233500,238500,241500.0,216800
41,39,New Hampshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,266900,269500,270200,273600,275400,280000,280500,282800,284300.0,258500
42,50,Rhode Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,254600,253900,263000,264500,270800,269200,279500,280800,286600.0,249150
43,35,Montana,199100.0,196200.0,192400.0,190200.0,192500.0,193600.0,193200.0,189400.0,...,292700,293100,294500,295900,298700,300800,300000,302400,NaN,207150
44,13,Delaware,229800.0,227100.0,225200.0,220300.0,218900.0,216700.0,214200.0,215300.0,...,228100,233400,234400,238000,239200,242300,238700,243500,NaN,206000
45,52,South Dakota,127000.0,123700.0,123900.0,126100.0,131800.0,132700.0,134500.0,130600.0,...,203400,205700,205500,206300,208200,214500,212100,211300,208000.0,152200
46,37,North Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,223000,225200,227000,224800,221600,220600,217400,222300,NaN,204900
47,12,District of Columbia,383000.0,380900.0,382100.0,382400.0,386800.0,383200.0,386100.0,371200.0,...,532600,530600,542600,548000,566400,577600,580100,575700,586100.0,461700
48,62,Wyoming,189200.0,189300.0,186200.0,183400.0,179700.0,181400.0,181600.0,183500.0,...,235300,235000,238300,236800,240700,241200,239400,240900,NaN,195000

Transform

In [7]:
sales_df = sales_df.dropna(how='any')
sales_df

,RegionID,RegionName,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,...,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,Median Sales Price
4,21,Illinois,204400.0,198400.0,185000.0,177500.0,174300.0,176300.0,176900.0,177400.0,...,192000,189500,188100,190000,191300,194600,195100,200200,210300.0,159600
21,10,Colorado,201300.0,198800.0,197200.0,196500.0,198300.0,200000.0,199400.0,197100.0,...,366700,366900,370600,373200,376200,378500,381800,383500,388700.0,235400
37,38,Nebraska,124900.0,125800.0,124200.0,121900.0,120300.0,120000.0,120200.0,120200.0,...,178300,176400,177900,179200,182100,183800,183800,186000,188400.0,132300
45,52,South Dakota,127000.0,123700.0,123900.0,126100.0,131800.0,132700.0,134500.0,130600.0,...,203400,205700,205500,206300,208200,214500,212100,211300,208000.0,152200
47,12,District of Columbia,383000.0,380900.0,382100.0,382400.0,386800.0,383200.0,386100.0,371200.0,...,532600,530600,542600,548000,566400,577600,580100,575700,586100.0,461700

In [9]:
# Rename Region Name column to State
sales_df = sales_df.rename(columns={"RegionName": "State",})
sales_df

,RegionID,State,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,...,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,Median Sales Price
4,21,Illinois,204400.0,198400.0,185000.0,177500.0,174300.0,176300.0,176900.0,177400.0,...,192000,189500,188100,190000,191300,194600,195100,200200,210300.0,159600
21,10,Colorado,201300.0,198800.0,197200.0,196500.0,198300.0,200000.0,199400.0,197100.0,...,366700,366900,370600,373200,376200,378500,381800,383500,388700.0,235400
37,38,Nebraska,124900.0,125800.0,124200.0,121900.0,120300.0,120000.0,120200.0,120200.0,...,178300,176400,177900,179200,182100,183800,183800,186000,188400.0,132300
45,52,South Dakota,127000.0,123700.0,123900.0,126100.0,131800.0,132700.0,134500.0,130600.0,...,203400,205700,205500,206300,208200,214500,212100,211300,208000.0,152200
47,12,District of Columbia,383000.0,380900.0,382100.0,382400.0,386800.0,383200.0,386100.0,371200.0,...,532600,530600,542600,548000,566400,577600,580100,575700,586100.0,461700

In [11]:
med_sales_df = sales_df[['State', 'Median Sales Price']]
med_sales_df

                   State  Median Sales Price
4               Illinois              159600
21              Colorado              235400
37              Nebraska              132300
45          South Dakota              152200
47  District of Columbia              461700